@using TwitterBackup.Services.ViewModels
@model List<TwitterAccountWithImageViewModel>
@{
    ViewBag.Title = "Search Result";
}
<div class="row" id="cardHolder">
    @{
        foreach (var item in Model)
        {
            var profileImage = @"data:image/jpeg;base64," + item.ProfileImage;

            <div class="col-lg-4">
                <div class="widget-head-color-box navy-bg p-h-m text-center">
                    <div class="m-b-md">
                        <h2>@item.Name</h2>
                    </div>
                    <img src="@profileImage" class="img-circle img-circle-profile circle-border m-b-md" alt="profile">
                    <div>
                        <span>@item.StatusesCount Tweets</span> |
                        <span>@item.FriendsCount Friends</span> |
                        <span>@item.FollowersCount Followers</span>
                    </div>
                </div>
                <div class="widget-text-box">
                    <h4 class="media-heading m-xs">@item.Name</h4>
                    <a href="@item.Url" class="m-xs">@@@item.ScreenName</a>
                    <p class="m-xs">@item.Description</p>
                    <div class="text-right" data-card-id="@item.Id">
                        <button id="details" type="submit" class="btn btn-sm btn-default btn-rounded details-button">Details</button>
                        <button id="update" type="submit" class="btn btn-sm btn-primary btn-rounded navy-bg update-button">Update</button>
                        <button id="delete" type="submit" class="btn btn-sm btn-danger btn-rounded delete-button">Delete</button>
                    </div>
                </div>
            </div>
        }
    }
</div>

@section Scripts {
    <script type="text/javascript">
        $('#cardHolder').on("click", ".delete-button", function () { 
            let cardId = $(this).parent().attr('data-card-id');

            $.ajax({
                type: 'POST',
                url: '/TwitterAccount/DeleteAccount',
                data: {
                    accountId: cardId
                }
            });
        })
    </script>
}