@using TwitterBackup.Services.ViewModels
@model IEnumerable<TwitterAccountViewModel>
@{
    ViewBag.Title = "Search Result";
}
<div class="row" id="cardHolder">
    @{
        foreach (var item in Model)
        {
            var profileImage = @"data:image/jpeg;base64," + item.ProfileImage;

            <div class="col-lg-4">
                <div class="widget-head-color-box navy-bg p-h-m text-center">
                    <div class="m-b-md">
                        <h2>@item.Name</h2>
                    </div>
                    <img src="@profileImage" class="img-circle img-circle-profile circle-border m-b-md" alt="profile">
                    <div>
                        <span>@item.StatusesCount Tweets</span> |
                        <span>@item.FriendsCount Friends</span> |
                        <span>@item.FollowersCount Followers</span>
                    </div>
                </div>
                <div class="widget-text-box">
                    <h4 class="media-heading m-xs">@item.Name</h4>
                    <a href="@item.Url" class="m-xs">@@@item.ScreenName</a>
                    <p class="m-xs">@item.Description</p>
                    <div class="text-right" data-card-id="@item.Id">
                        <button id="details" type="button" class="btn btn-sm btn-default btn-rounded details-button">Details</button>
                        <button id="delete" type="button" class="btn btn-sm btn-danger btn-rounded delete-button" data-toggle="modal" data-target="#delete-twitter-modal">Delete</button>
                    </div>
                </div>
            </div>
        }
    }
</div>

<div id="delete-twitter-modal" class="modal fade" style="display: none;">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Are you sure?</h4>
                <button type="button" id="closeModal" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <p>Do you really want to delete this Twitter account?</p>
            </div>
            <div class="modal-footer">
                <button id="modalDeleteButt" type="button" class="btn btn-danger btn-rounded" data-dismiss="modal">Delete</button>
                <button type="button" class="btn btn-info btn-rounded" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $('#cardHolder').on("click", ".delete-button", function () {
            let cardId = $(this).parent().attr('data-card-id');

            $('#modalDeleteButt').on("click", function () {
                let url = '@Url.Action("DeleteAccount", "TwitterAccount")';

                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {
                        accountId: cardId
                    }
                });
            });
        });

        $('#cardHolder').on("click", ".details-button", function () {
            let cardId = $(this).parent().attr('data-card-id');
            let url = '@Url.Action("", "")';

            $.ajax({
                type: 'GET',
                url: url,
                data: {
                    accountId: cardId
                }
            });
        });
    </script>
}