@using TwitterBackup.Services.ViewModels;
@model IEnumerable<UserViewModel>

<table class="table">
	<thead>
		<tr>
			<th scope="col">UserId</th>
			<th scope="col">UserName</th>
			<th scope="col">Email</th>
			<th scope="col">Make Admin</th>
			<th scope="col">Delete User</th>
			<th scope="col">View Saved Tweets</th>
			<th scope="col">View Saved Twitters</th>

		</tr>
	</thead>
	<tbody>
		@foreach (var user in Model)
		{
			<tr>
				<td>#@user.Id</td>
				<td>@user.UserName</td>
				<td>@user.Email</td>

				<td>
					<a id="@user.Id" class="btn btn-primary btn-rounded navy-bg promoteUser" onclick="togglePromoteUserModal('@user.Id')" data-name="@user.Id">
						Promote
					</a>
				</td>

				<td>
					<a id="@user.Id" class="btn btn-danger btn-rounded deleteUser" onclick="toggleDeleteUserModal('@user.Id')" data-name="@user.Id">
						Delete
					</a>
				</td>

				<td>
					<form asp-area="Admin" asp-controller="Home" asp-action="SavedTweets" method="get">
						<input hidden name="userId" value="@user.Id" />
						<button style="background:#ffffff; border-color: #19BCFF; color: #19BCFF" type="submit" class="btn btn-rounded">Tweets</button>
					</form>
				</td>
				<td>
					<form asp-area="Administration" asp-controller="Admin" asp-action="SavedTwitters" method="get">
						<input hidden name="userId" value="@user.Id" />
						<button style="background:#ffffff; border-color: #19BCFF; color: #19BCFF" type="submit" class="btn btn-rounded">Twitters</button>
					</form>
				</td>
			</tr>
		}
	</tbody>
</table>

<div id="promote-user-modal" class="modal fade" style="display: none;">
	<div class="modal-dialog modal-confirm">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Are you sure?</h4>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			</div>
			<div class="modal-body">
				<p>Do you really want to promote thit User? This process cannot be undone.</p>
			</div>
			<div class="modal-footer">
				<form asp-area="Administration" asp-action="PromoteUser" asp-controller="Admin" method="post">
					<input hidden id="promote-target-user-input" name="id" value="" />
					<button type="submit" class="btn btn-info btn-rounded">Promote</button>
					<button type="button" class="btn btn-danger btn-rounded" data-dismiss="modal">Cancel</button>
				</form>
			</div>
		</div>
	</div>
</div>

<div id="delete-user-modal" class="modal fade" style="display: none;">
	<div class="modal-dialog modal-confirm">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Are you sure?</h4>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			</div>
			<div class="modal-body">
				<p>Do you really want to delete thit tweet? This process cannot be undone.</p>
			</div>
			<div class="modal-footer">
				<form asp-area="Administration" asp-action="DelUser" asp-controller="Admin" method="post">
					<input hidden id="delete-target-user-input" name="id" value="" />
					<button type="submit" class="btn btn-info btn-rounded">Delete</button>
					<button type="button" class="btn btn-danger btn-rounded" data-dismiss="modal">Cancel</button>
				</form>
			</div>
		</div>
	</div>
</div>

@section scripts {
	<script>
		var togglePromoteUserModal = function (id) {
			$("#promote-target-user-input").val(id);
			$("#promote-user-modal").modal('toggle');
		};
	</script>
	<script>
		var toggleDeleteUserModal = function (id) {
			$("#delete-target-user-input").val(id);
			$("#delete-user-modal").modal('toggle');
		};
	</script>
}