@using TwitterBackup.Services.ViewModels
@model TwitterStatusWithAccountViewModel

@{ 
    var profileImage = @"data:image/jpeg;base64," + Model.ProfileImage;
}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div id="statusList" class="ibox float-e-margins">
            <div class="ibox-title">
            </div>
            <div class="ibox-content">
                <div class="feed-activity-list">
                @{
                    foreach (var status in Model.TwitterStatuses)
                    {
                    <div class="feed-element">
                        <img alt="image" class="img-circle pull-left" src="@profileImage">
                        <div class="media-body">
                            <strong>@Model.TwitterAccountName</strong> <br>
                            <small class="text-muted">@status.CreatedAt</small>
                            <p>@status.Text</p>
                            <div class="pull-right" data-status-id="@status.Id">
                                <button class="btn btn-xs btn-danger btn-rounded delete-status">Delete</button>
                            </div>
                        </div>
                    </div>
                    }
                 }
                </div>
            </div>
        </div>
    </div>
</div>