@using TwitterBackup.Services.ViewModels
@model TwitterAccountViewModel

@{ 
    var profileImage = @"data:image/jpeg;base64," + Model.ProfileImage;
}

<div class="row m-b-lg m-t-lg">
    <div class="col-md-6">
        <div class="profile-image">
            <img src="@profileImage" class="img-circle img-circle-profile circle-border m-b-md" alt="profile">
        </div>
        <div class="profile-info">
            <div>
                <h2 class="no-margins">
                    @Model.Name
                </h2>
                <h4><a href="@Model.Url">@@@Model.ScreenName</a></h4>
                <small>
                    @Model.Description
                </small>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <table class="table small m-b-xs">
            <tbody>
                <tr>
                    <td>
                        <strong>@Model.FollowersCount</strong>
                    </td>
                    <td>
                        Followers
                    </td>

                </tr>
                <tr>
                    <td>
                        <strong>@Model.FriendsCount</strong>
                    </td>
                    <td>
                        Friends 
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>@Model.StatusesCount</strong>
                    </td>
                    <td>
                        Statuses
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>