@using TwitterBackup.Services.ViewModels
@model IEnumerable<TwitterStatusPartialViewModel>

@{
    ViewBag.Title = "TwitterStatuses";
}

<div class="feed-activity-list">
    @{
        foreach (var status in Model)
        {
            <div class="feed-element">
                <img alt="image" class="img-circle pull-left" src="@status.User.ProfileImageUrl">
                <div class="media-body">
                    <strong>@status.User.Name</strong> <br>
                    <small class="text-muted">@status.CreatedAt</small>
                    <div class="well">
                        @status.Text
                    </div>
                    <div class="pull-right" data-feed-id="@status.TwitterStatusId">
                        <button class="btn btn-xs btn-primary btn-rounded navy-bg save-button">Save</button>
                    </div>
                </div>
            </div>
        }
    }
</div>